.justify-p {
    text-align: justify;
    text-justify: inter-word;
}

header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    overflow: hidden;
}

header h1 {
    font-size: 40pt;
    text-shadow: 5pt 5pt 15pt black;
}

header h2 {
    font-size: 20pt;
    text-shadow: 5pt 5pt 15pt black;
}

header video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

header .container {
    position: relative;
    z-index: 1;
}

footer a {
    text-decoration: none;
    color: #212529;
}

footer a:hover {
    text-decoration: none;
    color: #ced4da;
}

@media (min-width: 768px) {
    .imgmax60 {
        max-width: 60%;
    }

    .navbar-brand {
        display: none;
    }

    header h1 {
        font-size: 60pt;
        text-shadow: 5pt 5pt 15pt black;
    }

    header h2 {
        font-size: 30pt;
        text-shadow: 5pt 5pt 15pt black;
    }
}