img {
    max-height: 80%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

header {
    position: relative;
    height: 75vh;
    min-height: 25rem;
    overflow: hidden;
}

header h1 {
    font-size: 60pt;
    text-shadow: 5pt 5pt 15pt black;
}

header h2 {
    font-size: 30pt;
    text-shadow: 5pt 5pt 15pt black;
}

header overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
}

header video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
}

header .container {
    position: relative;
    z-index: 2;
}

.h-100 {
    height: 100%;
}